---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keda-olm-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: keda-olm-operator
  template:
    metadata:
      labels:
        name: keda-olm-operator
    spec:
      serviceAccountName: keda-olm-operator
      containers:
        - name: keda-olm-operator
          image: ghcr.io/kedacore/keda-olm-operator:main
          command:
            - /manager
          args:
            - --leader-elect
            - --zap-log-level=info
            - --zap-encoder=console
            - --zap-time-encoding=rfc3339
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 500m
              memory: 1000Mi
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 25
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 20
          env:
            - name: WATCH_NAMESPACE
              value: keda
          volumeMounts:
          - mountPath: /certs
            name: certificates
            readOnly: true
      volumes:
      - name: certificates
        secret:
          optional: true
          secretName: kedaorg-certs
