name: main build
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token **not production ready**

    container: kedacore/build-tools:main
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          lfs: true

      - name: Install Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - name: Go modules cache
        uses: actions/cache@v1
        with:
          path: /go/pkg
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GHCR_AUTH_PAT }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Publish on GitHub Container Registry
        run: make publish

      # https://github.com/sigstore/cosign-installer
      - name: Install Cosign
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: 'v1.4.1'
      - name: Check Cosign install!
        run: cosign version

      - name: Sign KEDA images published on GitHub Container Registry
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: make sign-images

  deploy-test:
    needs: Build
    name: Deploy-test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          lfs: true

      - name: Install Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GHCR_AUTH_PAT }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Install operator-sdk
        run: brew install operator-sdk

      - name: Download opm
        run: |
          version=1.15.0
          curl -L https://github.com/operator-framework/operator-registry/releases/download/v${version}/linux-amd64-opm --output opm
          sudo chmod +x opm
          sudo mv opm /usr/bin

      - name: Build and deploy KEDA olm operator index for deployment testing
        run: make deploy-olm-testing

      - name: Setup test environment for deployment tests
        run: |
          kind create cluster
          operator-sdk olm install

      - name: Run deployment tests
        run: make test-deployment

      - name: Run functionality tests
        run: make test-functionality

  deploy:
    needs: Deploy-test
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          lfs: true

      - name: Install Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - name: Go modules cache
        uses: actions/cache@v1
        with:
          path: /go/pkg
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GHCR_AUTH_PAT }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Download opm
        run: |
          version=1.15.0
          curl -L https://github.com/operator-framework/operator-registry/releases/download/v${version}/linux-amd64-opm --output opm
          sudo chmod +x opm
          sudo mv opm /usr/bin

      - name: Install operator-sdk
        run: brew install operator-sdk

      - name: Build and deploy KEDA olm operator index
        run: make deploy-olm
