name: master build
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: kedacore/build-tools:main
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          lfs: true

      - name: Install Go 1.15.3
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15.3' 
          
      - name: Go modules cache
        uses: actions/cache@v1
        with:
          path: /go/pkg
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Login to Docker Hub
        env:
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: echo $DOCKER_HUB_ACCESS_TOKEN | docker login -u $DOCKER_HUB_USERNAME --password-stdin

      - name: Build and deploy KEDA olm operator index
        run: make deploy-olm

      - name: Publish
        run: make publish
  
  test:
    needs: Build
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15.3' 
          
      - name: Install operator-sdk
        run: brew install operator-sdk
      
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Run functionality tests
        run: make test-functionality
      
      - name: Download etcd and kube-apiserver
        run: |
          os=$(go env GOOS)
          arch=$(go env GOARCH)
          version=2.3.1
          curl -L https://github.com/kubernetes-sigs/kubebuilder/releases/download/v${version}/kubebuilder_${version}_${os}_${arch}.tar.gz | tar -xz -C /tmp/
          sudo mkdir -p /usr/local/kubebuilder/bin
          cd /tmp/kubebuilder_${version}_${os}_${arch}/bin
          sudo mv etcd kube-apiserver /usr/local/kubebuilder/bin

      - name: Setup test environment for deployment tests
        run: |
          kind create cluster
          operator-sdk olm install

      - name: Run deployment tests
        run: make test-deployment