name: pr tests
on: [pull_request]

jobs:
  pr-test:
    name: PR test
    runs-on: ubuntu-20.04
    steps:
      - name: Setup kubernetes
        run: |
          kind create cluster
          kubectl create namespace keda --context kind-kind

      - name: Go Version
        run: go version

      - name: Go modules cache
        uses: actions/cache@v1
        with:
          path: /go/pkg
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install operator-sdk
        run: brew install operator-sdk

      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Run unit tests
        run: make test-unit

      - name: Run e2e tests
        run: make test-e2e
